@model TeachersAssistant.Models.ProductViewModel[]

@{
    ViewBag.Title = "Shop Contents";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<style type="text/css">
    div.shop-listing-row {
        background-color:burlywood;
        margin:0px;color:brown;
        padding:5px;
        border-bottom: gray thin solid;
    }
	div.shop-listing-row:hover{background-color:brown;color:white;}
    div.shop-listing-row div.cell{padding:5px;}

    .header {
        font-size: large;
        color: white !important;
        background-color:skyblue;
        margin: 0px;
        text-align:center;
        vertical-align:text-bottom;
    }
    .header div.row div.cell {
        border: gray solid thin !important;
        padding: 5px 0px;
        color:white !important;font-weight:bolder;
    }
	.tobasket{background-color:black; color:red;margin:0px;padding:5px;}
</style>
<h2>Shop Contents</h2>
<div class="form-horizontal" style="background-color: whitesmoke;">
    <div class="row tobasket">
        <div class="col-lg-12">
            @Html.ActionLink("Go to Basket", "Basket", new { @id = "GoToBasket" })
        </div>
    </div>
    <div class="row header">
        <div class="col-lg-1">
            <div class="cell">
               Product Id
            </div>
        </div>
        <div class="col-lg-2 ">
            <div class="cell">
                Product Name
            </div>
        </div>
        <div class="col-lg-3">
            <div class="cell">
                Product Description
            </div>
        </div>
        <div class="col-lg-1">
            <div class="cell">
                Product Price
            </div>
        </div>
        <div class="col-lg-1">
            <div class="cell">
                Is Paid Document
            </div>
        </div>
        <div class="col-lg-2">
            <div class="cell">
               Is Paid Video
            </div>
        </div>
        <div class="col-lg-2">
            <div class="cell">
               Buy
            </div>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row shop-listing-row">
            <div class="col-lg-1">
                <div>
                    @Html.Label(item.ProductId.ToString(), new { @id = "ProductId" })
                </div>
            </div>
            <div class="col-lg-2">
                <div class="cell">
                    @Html.Label(item.ProductName)
                </div>
            </div>
            <div class="col-lg-3">
                <div class="cell">
                    @item.ProductDescription
                </div>
            </div>
            <div class="col-lg-1">
                <div class="cell">
                    £ @item.ProductPrice.ToString()
                </div>
            </div>
            <div class="col-lg-1">
                <div class="cell">
                    @item.IsPaidDocument.ToString()
                </div>
            </div>
            <div class="col-lg-2">
                <div class="cell">
                    @item.IsPaidVideo.ToString()
                </div>
            </div>
            <div class="col-lg-2">
                <div class="cell">
                    <a href="#" id="AddToBasket" style="padding:5px;">Add To Basket</a>
                </div>
            </div>
        </div>
    }

    <div class="row tobasket">
        <div class="col-lg-12">
            @Html.ActionLink("Go to Basket", "Basket", new { @id = "GoToBasket" })
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
	
        $('a#AddToBasket').addClass("btn-primary");
        $('a#GoToBasket').addClass("btn-primary");

        $('a#AddToBasket').click(function () {
            var prodId = $(this).parent('div').parent('div').parent('div').find('Label#ProductId').text();
            var addToUrl = '@Url.Action("AddToBasket", "Shopping")';
            var jsonData = JSON.stringify({ productId: prodId });
            $.ajax({
                url: addToUrl,
                type: 'POST',
                data: jsonData,
                contentType: 'application/json',
                dataType: 'json',
                success: function (data) {
                    //alert("Product with Id: " + prodId + " added to basket");
                    window.location.href = '@Url.Content("~/Shopping/Basket")';
                },
                error: function (xhrq) {
                    alert("Failed to add Product");
                }
            });
            return false;
        });

        $('a.BasketPointer').click(function () {
            window.location.href = '@Url.Content("~/Shopping/Basket")';
        });
    });
</script>