<!DOCTYPE HTML>
<html>
<head>
    <title>Teacher Assistant State Junior</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="@Url.Content("~/assets/css/ie9.css")" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="@Url.Content("~/assets/css/ie8.css")" /><![endif]-->
    <link rel="stylesheet" href="@Url.Content("~/content/bootstrap.min.css")" />

    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Oxygen:400,700" rel="stylesheet">

    <link rel="stylesheet" href="@Url.Content("~/assets/css/main.css")" />

    <!-- Scripts -->
    <script src="@Url.Content("~/assets/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/js/skel.min.js")"></script>
    <script src="@Url.Content("~/assets/js/util.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <!--[if lte IE 8]><script src="@Url.Content("~/assets/js/ie/respond.min.js")"></script><![endif]-->
    <script src="@Url.Content("~/assets/js/main.js")"></script>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")

    <link href="@Url.Content("~/fullcalendar-3.10.0/fullcalendar.min.css")" rel='stylesheet' />
    <link href="@Url.Content("~/fullcalendar-3.10.0/fullcalendar.print.min.css")" rel='stylesheet' media='print' />
    <script src="@Url.Content("~/fullcalendar-3.10.0/lib/moment.min.js")"></script>
    <script src="@Url.Content("~/fullcalendar-3.10.0/fullcalendar.min.js")"></script>

    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.css")" />
    <script type="text/javascript" src="@Url.Content("~/scripts/moment.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/bootstrap-datetimepicker.min.js")"></script>
    <!-- Scripts -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('div#sidebar a.toggle').attr('href', '');

            $('a').on('click', function () {
                if ($(this).hasClass('toggle') && (href === '' || href === null || href === '#')) {
                    return false;
                }
                var href = $(this).attr('href');
                if (href !== '' && href !== null && href !== '#') {
                    window.location.href = href;
                }
                else {
                    return false;
                }
            });
        });
    </script>
</head>
<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">
                <!-- Header -->
                <header id="header">
                    <div class="row">
                        <div class="col-lg-10">
                            <a href="@Url.Action("index", "Home")" class="logo"><strong>Home Of Teacher's Assistant</strong> Website</a>
                        </div>
                        <div class="col-lg-2">
                            <img alt="Graduation Picture" src="~/images/HappyGrad.jpg" width="100px" height="auto" />
                        </div>
                    </div>
                </header>

                <!-- Banner -->
                <div>
                    <span style="color:teal;font-weight: bolder;">
                        &nbsp;
                        @{
                            var display = string.Empty;
                            if (User.Identity.IsAuthenticated)
                            {
                                display = "Logged in as: " + User.Identity.Name;
                            }
                        }
                        @display
                    </span>
                    <span style="color:teal;font-weight: bolder;">
                        &nbsp;
                        @{
                            if (User.IsInRole("Administrator"))
                            {
                                <a href="@Url.Content("~/Administration/TeachersCalendar")">Site Administration </a>
                            }
                        }
                    </span>

                </div>
                <!-- Section -->
                <section>
                    @RenderBody()
                </section>

                <!-- Section -->
                <section>
                    <header class="major">
                        <h2>Some of the Artefacts Integrated into the Application Include the following</h2>
                    </header>
                    <div class="posts">
                        <article>
                            <a href="#" class="image"><img src="~/images/primaryTutor1.jpg" alt="" /></a>
                            <h3>Private And Public Classrooms Online For Discussions</h3>
                            <p>There are 2 classes that can be booked for discussions. One is private and only Tutor invites are taken into class, while there is an open class that allows any students to schedule and join discussions at will given the time allotment and requirements for a Discussion are prevalent to their success.</p>
                            <p>Other features not mentioned anywhere else include Online Shop, for artefacts, Integration with Paypal, Downloadable Media including Videos and Documents, both Free and Paid for assigned by Tutors</p>
                            <ul class="actions">
                                <li><a href="#" class="button">More</a></li>
                            </ul>
                        </article>
                        <article>
                            <a href="#" class="image"><img src="~/images/primaryTutor3.jpg" alt="" /></a>
                            <h3>Teacher Calendar And Student Calendars</h3>
                            <p>An integrated Calendar booking system is in place to show day, month, Year and Times for scheduled meet ups, where you have one on one time with Tutors for Continual Learning.</p>
                            <p>Vital features for Reporting and Gathering Statistical information on Student performances have been integrated. With downloadable reports on items such as Mean, Median and Number Of Students earning grades across Roles, Subjects, over periods of time can be generated too.</p>
                            <ul class="actions">
                                <li><a href="#" class="button">More</a></li>
                            </ul>
                        </article>
                        <article>
                            <a href="#" class="image"><img src="~/images/primaryTutor2.jpg" alt="" /></a>
                            <h3>Assignment Distribution By Roles, Subjects, and Marking and Grading System</h3>
                            <p>Assignments can be assigned to individuals or Categories/Roles without difficulty, and submitted online for grading. Teachers can include notes for Students where they can improve on, on grading the assignments. Graded and Submitted Assignments can then be viewed by Students, with help notes to improve their learning curve.</p>
                            <ul class="actions">
                                <li><a href="#" class="button">More</a></li>
                            </ul>
                        </article>
                    </div>
                </section>

            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">
            <div class="inner">
                <!-- Search -->
                <section id="search" class="alt">
                    <div class="row">
                        <div class="col-lg-6">
                            <div style="font-family: Arial, Helvetica, sans-serif; font-size: 7.5pt;" align=center>
                                <a href="https://www.freefind.com/searchtipspop.html" target=searchtips onclick="somewin = window.open('https://www.freefind.com/searchtipspop.html', 'searchtips', 'resizable=yes,scrollbars=yes,width=508,height=508')">search&nbsp;tips</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div style="font-family: Arial, Helvetica, sans-serif; font-size: 7.5pt;" align=right>
                                <a href="https://search.freefind.com/find.html?si=15594014&amp;pid=a">advanced&nbsp;search</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form style="margin:0px; margin-top:4px;" action="https://search.freefind.com/find.html" method="get" accept-charset="utf-8" target="_self">
                            <input type="hidden" name="si" value="15594014">
                            <input type="hidden" name="pid" value="r">
                            <input type="hidden" name="n" value="0">
                            <input type="hidden" name="_charset_" value="">
                            <input type="hidden" name="bcd" value="&#247;">
                            <div class="row">
                                <input type="text" name="query" class="col-lg-10" placeholder="Search..." /><input type="submit" style="opacity: 0;" class="col-lg-2" value="Go" style="color: green;width:15%;margin-left:0;margin-top:2px;" />
                            </div>
                            <!---->
                        </form>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 7.5pt; padding-top: 4px;">
                                <a style="text-decoration: none; color: gray;" href="https://www.freefind.com">search engine</a><a style="text-decoration: none; color: gray;" href="https://www.freefind.com">
                                    by
                                    <span style="color: #606060;">freefind</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Menu -->
                <nav id="menu">
                    <ul>
                        <li class="current_page_item"><a href="~/StateJunior/Home/Index">Home</a></li>
                        <li><a href="~/Shopping/ShopContentListing">Shop</a></li>
                        <li><a href="~/Shopping/Basket">Basket</a></li>
                        <li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <span class="opener"><a href="~/Account/LogOff">LogOut</a></span> 
                                <ul>
                                    <li><a href="~/Home/PublicClass">Public Class Room</a></li>
                                    <li><a href="~/Account/ResetPassword">Reset Password</a></li>
                                </ul>
                            }
                            else
                            {
                                <span class="opener"><a href="#">Login</a></span>
                                <ul>
                                    <li><a href="~/Account/Login?Role=Grammar11Plus">11+ (Grammar)</a></li>
                                    <li><a href="~/Account/Login?Role=StatePrimary">State Primary</a></li>
                                    <li><a href="~/Account/Login?Role=StateJunior">State Junior</a></li>
                                    <li><a href="~/Account/Login?Role=SecondarySchool">Secondary School</a></li>
                                    <li><a href="~/Account/Login?Role=CollegeAndPostGraduate">College And PostGraduate</a></li>
                                    <li><a href="~/Account/Login?Role=Administrator">Administrator</a></li>
                                </ul>
                            }

                        </li>
                        <li>
                            <span class="opener"><a href="#">Student Functions</a></span>
                            <ul>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a href="~/Account/ResetPassword">Reset Password</a></li>
                                }
                                <li><a href="~/Home/PublicClass">OnLine Classrooms</a></li>
                                <li><a href="~/StateJunior/Home/AssignmentAndSubmissions">View Assignments &amp; Submissions</a></li>
                                <li><a href="~/StateJunior/Home/ViewAssignmentGrades">View Assignments Grades</a></li>
                                <li><a href="~/StateJunior/Home/RequestQAHelp">Request QA Help with Tutor</a></li>
                                <li><hr /></li>
                                <li><a href="~/StateJunior/Home/BookTeacherHelpTime">Book Teacher Help Time</a></li>
                                <li><a href="~/StateJunior/Home/TeachersCalendar">Teacher's Calendar</a></li>
                                <li><a href="~/StateJunior/Home/GetStudentResources">Student Resources</a></li>
                            </ul>
                        </li>
                        <li><a href="~/StateJunior/Home/DownloadFreeDocuments">Free Docs</a></li>
                        <li><a href="~/StateJunior/Home/DownloadPaidDocuments">Paid Docs</a></li>
                        <li><a href="~/Home/AboutUs">About Us</a></li>
                    </ul>
                </nav>

                <!-- Section -->
                <section>
                    <header class="major">
                        <h2>Uber Graduate Teacher</h2>
                    </header>
                    <div class="mini-posts">
                        <img src="~/images/HappyGrad.png" alt="Uber Graduate Teacher" style="width:280px;height:auto;" />
                    </div>
                    <ul class="actions">
                        <li><a href="~/Home/AboutUs" class="button">More</a></li>
                    </ul>
                </section>

                <!-- Section -->
                <section>
                    <header class="major">
                        <h2>Get in touch</h2>
                    </header>
                    <p>This Product was Developed by <a href="https://www.martinlayooinc.co.uk">MartinLayooInc</a>. Please feel free to contact us at <a href="mailto:business-info@martinlayooinc.co.uk">MartinLayooInc</a> to discuss any business you may find relevant, to helping Tutors become better at their jobs. MartinLayooInc, also provide a range of Cryptography and Structural Engineering Products worth checking out at their main site mentioned.</a></p>
                    <ul class="contact">
                        <li class="fa-envelope-o"><a href="mailto:business-info@martinlayooinc.co.uk">business-info@martinlayooinc.co.uk</a></li>
                        <li class="fa-phone">+44 07809773365</li>
                        <li class="fa-home">
                            Unit 3,
                            2 St Johns Terrace<br />
                            London, W10 4RB
                        </li>
                    </ul>
                </section>

                <!-- Footer -->
                <footer id="footer">
                    <p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
                </footer>

            </div>
        </div>

    </div>

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4fa0ee7f0312e67c"></script>
</body>
</html>
