<!DOCTYPE HTML>
<html>
<head>
    <title>Teacher Assistant</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="@Url.Content("~/assets/js/ie/html5shiv.js")"/></script><![endif]-->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/main.css")" />
    <!--[if lte IE 8]><link rel="stylesheet" href="@Url.Content("~/assets/css/ie8.css")" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="@Url.Content("~/assets/css/ie9.css")"><![endif]-->

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")    <!-- Scripts -->
    <script src="@Url.Content("~/assets/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.dropotron.min.js")"></script>
    <script src="@Url.Content("~/assets/js/skel.min.js")"></script>
    <script src="@Url.Content("~/assets/js/skel-viewport.min.js")"></script>
    <script src="@Url.Content("~/assets/js/util.js")"></script>
    <!--[if lte IE 8]><script src="@Url.Content("~/assets/js/ie/respond.min.js")"></script><![endif]-->
    <script src="@Url.Content("~/assets/js/main.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/calendar/js/jquery-calendar.min.js")"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/calendar/css/stylesheet.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/calendar/css/calendar.css")">
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Oxygen:400,700" rel="stylesheet">
	
    <script type="text/javascript">        stLight.options({ publisher: "7253900c-b2c5-475f-a54d-05a12e8b60c2" }); </script>
    <style type="text/css">
        div#main.wrapper.style1 {
            color: cadetblue !important;
        }

        body {
            font-size: 1.4em;
        }

        input {
            font-size: 1.2em;
        }
    </style>
</head>
<body class="homepage">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper">
            <div class="container">

                <!-- Header -->
                <header id="header">
                    <div class="inner">

                        <!-- Logo -->
                        <h1><a href="~/Home/AboutUs" id="logo">Teacher's Assistant</a></h1>

                        <!-- Nav -->
                        <nav id="nav">
                            <ul>
                                <li class="current_page_item"><a href="~/Home/Index">Home</a></li>
                                <li><a href="~/Shopping/ShopContentListing">Shop</a></li>
                                <li><a href="~/Shopping/Basket">Basket</a></li>
                                <li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a href="~/Account/LogOff">LogOut</a>
                                    }
                                    else
                                    {
                                        <a href="#">Login</a>
                                    }
                                    <ul> 
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <li><a href="~/Home/PublicClass">Public Class Room</a></li>
                                            <li><a href="~/Account/ResetPassword">Reset Password</a></li>
                                        }
                                        <li><a href="~/Account/Login?Role=Grammar11Plus">11+ (Grammar)</a></li>
                                        <li><a href="~/Account/Login?Role=StatePrimary">State Primary</a></li>
                                        <li><a href="~/Account/Login?Role=StateJunior">State Junior</a></li>
                                        <li><a href="~/Account/Login?Role=Administrator">Administrator</a></li>
                                    </ul>
                                </li>
                                <li><a href="~/Home/DownloadFreeDocuments">Free Documents</a></li>
                                <li><a href="~/Home/AboutUs">About Us</a></li>
                            </ul>
                        </nav>

                    </div>
                </header>
                <!-- Main Wrapper -->
                <!-- Banner -->
                <div class="main-wrapper">
                    <div class="wrapper style1">
						<div>
							<div style="float:left;margin-left:10px;margin-top:-95px;">
								<img src="@Url.Content("~/images/HappyGrad.jpg")" style="width:100px; height:auto;" />
							</div>
							<div style="height: auto;margin-top:-95px; float:left;margin-left:10px;">
								<div>
									<span style="color:teal;font-weight: bolder;">&nbsp;
										@{
											var display = string.Empty;
											if (User.Identity.IsAuthenticated)
											{
												display = "Logged in as: " + User.Identity.Name;
											}
										}
										@display</span>
									<span style="color:teal;font-weight: bolder;">
										&nbsp;
										@{
											if (User.IsInRole("Administrator"))
											{
												<a href="@Url.Content("~/Administration/TeachersCalendar")">Site Administration </a>
											}
										}
									</span>

								</div>
							</div>	
							<div class="clearfix">
								<br />
							</div>
						</div>
                        <div id="main" class="inner"  style="color:cadetblue;padding:10px;">
                            @RenderBody()
                        </div>

                    </div>
                </div>

        
        <!-- Footer Wrapper -->
        <div id="footer-wrapper">
            <footer id="footer" class="container">
                <div class="row">
                    <div class="3u 12u(mobile)">

                        <!-- Links -->
                        <section>
                            <h2>Filler Links</h2>
                            <ul class="divided">
                                <li><a href="#">Quam turpis feugiat dolor</a></li>
                                <li><a href="#">Amet ornare in hendrerit </a></li>
                                <li><a href="#">Semper mod quisturpis nisi</a></li>
                                <li><a href="#">Consequat etiam phasellus</a></li>
                                <li><a href="#">Amet turpis, feugiat et</a></li>
                                <li><a href="#">Ornare hendrerit lectus</a></li>
                                <li><a href="#">Semper mod quis et dolore</a></li>
                                <li><a href="#">Amet ornare in hendrerit</a></li>
                                <li><a href="#">Consequat lorem phasellus</a></li>
                                <li><a href="#">Amet turpis, feugiat amet</a></li>
                                <li><a href="#">Semper mod quisturpis</a></li>
                            </ul>
                        </section>

                    </div>
                    <div class="3u 12u(mobile)">

                        <!-- Links -->
                        <section>
                            <h2>More Filler</h2>
                            <ul class="divided">
                                <li><a href="#">Quam turpis feugiat dolor</a></li>
                                <li><a href="#">Amet ornare in in lectus</a></li>
                                <li><a href="#">Semper mod sed tempus nisi</a></li>
                                <li><a href="#">Consequat etiam phasellus</a></li>
                            </ul>
                        </section>

                        <!-- Links -->
                        <section>
                            <h2>Even More Filler</h2>
                            <ul class="divided">
                                <li><a href="#">Quam turpis feugiat dolor</a></li>
                                <li><a href="#">Amet ornare hendrerit lectus</a></li>
                                <li><a href="#">Semper quisturpis nisi</a></li>
                                <li><a href="#">Consequat lorem phasellus</a></li>
                            </ul>
                        </section>

                    </div>
                    <div class="6u 12u(mobile)">

                        <!-- About -->
                        <section>
                            <h2><strong>ZeroFour</strong> by HTML5 UP</h2>
                            <p>
                                Hi! This is <strong>ZeroFour</strong>, a free, fully responsive HTML5 site
                                template by <a href="http://twitter.com/ajlkn">AJ</a> for <a href="http://html5up.net/">HTML5 UP</a>.
                                It's <a href="http://html5up.net/license/">Creative Commons Attribution</a>
                                licensed so use it for any personal or commercial project (just credit us
                                for the design!).
                            </p>
                            <a href="#" class="button alt icon fa-arrow-circle-right">Learn More</a>
                        </section>

                        <!-- Contact -->
                        <section>
                            <h2>Get in touch</h2>
                            <div>
                                <div class="row">
                                    <div class="6u 12u(mobile)">
                                        <dl class="contact">
                                            <dt>Twitter</dt>
                                            <dd><a href="#">untitled-corp</a></dd>
                                            <dt>Facebook</dt>
                                            <dd><a href="#">facebook.com/untitled</a></dd>
                                            <dt>WWW</dt>
                                            <dd><a href="#">untitled.tld</a></dd>
                                            <dt>Email</dt>
                                            <dd><a href="#">user@untitled.tld</a></dd>
                                        </dl>
                                    </div>
                                    <div class="6u 12u(mobile)">
                                        <dl class="contact">
                                            <dt>Address</dt>
                                            <dd>
                                                1234 Fictional Rd<br />
                                                Nashville, TN 00000-0000<br />
                                                USA
                                            </dd>
                                            <dt>Phone</dt>
                                            <dd>(000) 000-0000</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
                <div class="row">
                    <div class="12u">
                        <div id="copyright">
                            <ul class="menu">
                                <li>&copy; Untitled. All rights reserved</li>
                                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </div>


    @RenderSection("scripts", required: false)
	<script type="text/javascript">
        $(document).ready(function(){
            $('h2').css('color','brown');
			$('#nav a').css('background-color','#42444A');
			$('#nav a').hover(function(){
				$(this).css('background-color','orange');
				$(this).css('color','black');
			},function(){
				$(this).css('background-color','#42444A');
				$(this).css('color','white');
			});
        });
	</script>
			
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4fa0ee7f0312e67c"></script>

</body>
</html>
