@model TeacherAssistant.Models.AssignmentSubmissionViewModel[]

@{
    ViewBag.Title = "View Assignment Grades";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>View Assignment Grades</h2>

<div style="background-color: #DADADA;" class="row">
    <ul class="list-group row">
        <h4>Grades Of Assingnment Exercises</h4>

        @foreach (var assSub in Model)
        {
            using (Html.BeginForm())
            {
        <li class="list-group-item row">
            @Html.Hidden("AssignmentId", assSub.AssignmentId)
            @Html.Hidden("SubjectId", assSub.SubjectId)
            @Html.Hidden("TeacherId", assSub.TeacherId)
            @Html.Hidden("AssignmentName", assSub.AssignmentName)
            <a href="@assSub.FilePath">Assignment: @assSub.AssignmentName</a> <b> | </b>
            Is Submitted: @(assSub.IsSubmitted ? "True" : "False")<b> | </b>
            Graded as: @(!string.IsNullOrEmpty(assSub.Grade) ? assSub.Grade : "Awaiting Grades")<b> | </b>
            TeachersNotes: @(string.IsNullOrEmpty(assSub.Notes)?"No Notes": (assSub.Notes)
        </li>
            }
        }
    </ul>

</div>