@model TeacherAssistant.Models.AssignmentSubmissionViewModel[]

@{
    ViewBag.Title = "View Assignment Grades";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>View Assignment Grades</h2>

<div style="background-color: #DADADA;" class="row">
    <h4>Grades Of Assingnment Exercises</h4>
    <ul class="list-group">

        @foreach (var assSub in Model)
        {
            using (Html.BeginForm())
            {
                <li class="list-group-item row">
                    @Html.Hidden("AssignmentId", assSub.AssignmentId)
                    @Html.Hidden("SubjectId", assSub.SubjectId)
                    @Html.Hidden("TeacherId", assSub.TeacherId)
                    @Html.Hidden("AssignmentName", assSub.AssignmentName)
                    <span class="col-lg-3"><a href="@assSub.FilePath">Assignment: @assSub.AssignmentName</a> <b> | </b></span>
                    <span class="col-lg-3">Is Submitted: @(assSub.IsSubmitted ? "True" : "False")<b> | </b></span>
                    <span class="col-lg-3"> Graded as: @(!string.IsNullOrEmpty(assSub.Grade) ? assSub.Grade : "Awaiting Grades") also @(assSub.GradeNumeric > 0? assSub.GradeNumeric.ToString(): "")<b> | </b></span>
                    <span class="col-lg-3">Teacher's Notes: @(string.IsNullOrEmpty(assSub.Notes) ? "No Notes" : assSub.Notes)</span>
                </li>
            }
        }
    </ul>

</div>