@model TeacherAssistant.Models.AssignmentSubmissionViewModel[]

@{
    ViewBag.Title = "Assignments And Submissions";
    Layout = "~/Areas/SecondarySchool/Views/Shared/_NewLayoutSecondarySchool.cshtml";
}
<h2>Assignments And Submissions</h2>
<div style="background-color: #DADADA;" class="row">
    <ul class="list-group col-lg-12">
        <h4>Items Of Assingnment Exercises</h4>

        @foreach (var assSub in Model)
        {

            <form method="post" action="@Url.Content(" ~/CollegeAndPostGraduate/Home/SubmitAssignment")" enctype="multipart/form-data">
                <li class="list-group-item row">
                    @Html.Hidden("AssignmentSubmissionId", assSub.AssignmentSubmissionId)
                    @Html.Hidden("AssignmentId", assSub.AssignmentId)
                    @Html.Hidden("SubjectId", assSub.SubjectId)
                    @Html.Hidden("TeacherId", assSub.TeacherId)
                    @Html.Hidden("AssignmentName", assSub.AssignmentName)
                    @Html.Hidden("Notes", assSub.Notes)
                    <span class="col-lg-4"><a href="@assSub.FilePath">Assignment @assSub.AssignmentName</a> </span>
                    <span class="col-lg-2"> Is Submitted: @(assSub.IsSubmitted ? "True" : "False")</span>
                    <span class="col-lg-4"><input type="file" name="MediaContent" /></span>
                    <span class="col-lg-2"><input type="submit" name="Create" class="btn btn-default" style="display:inline !important;" /></span>
                </li>
            </form>
        }
    </ul>
</div>