@model TeacherAssistant.Models.AssignmentSubmissionViewModel[]

@{
    ViewBag.Title = "Assignments And Submissions";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h2>Assignments And Submissions</h2>
<div style="background-color: #DADADA;" class="row">
    <ul class="list-group col-lg-12" >
        <h4>Items Of Assingnment Exercises</h4>

        @foreach (var assSub in Model)
        {

            <form method="GET" action="@Url.Content("~/Administration/AssignmentAndSubmissions")">
                <li class="list-group-item row">
                    @Html.Hidden("AssignmentSubmissionId", assSub.AssignmentSubmissionId)
                    @Html.Hidden("AssignmentId", assSub.AssignmentId)
                    @Html.Hidden("SubjectId", assSub.SubjectId)
                    @Html.Hidden("TeacherId", assSub.TeacherId)
                    @Html.Hidden("TeacherId", assSub.TeacherId)
                    @Html.Hidden("AssignmentName", assSub.CourseId)
                    @Html.Hidden("Notes", assSub.Notes)
                    <span class="col-lg-4"> <a href="@assSub.FilePath">Assignment @assSub.AssignmentName</a> <b> | </b></span>
                    <span class="col-lg-4">  Is Submitted: @(assSub.IsSubmitted ? "True" : "False")<b> | </b></span>
                    <span class="col-lg-4">  <a class="btn btn-default" style="display:inline !important;" href="@assSub.FilePath">Download To Mark</a></span>
                </li>
            </form>
        }
    </ul>

</div>