@model TeacherAssistant.Models.StudentViewModel

@{
    ViewBag.Title = "Manage Student";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class="container-fluid" style="background-color: #DADADA;">

    <h2>Manage Student</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Student ViewModel</h4>

            <div>
                <div style="padding:5px;">
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="form-group">
                        <div><span class="col-lg-2" style="text-align:right !important;">View New Registrants</span> <input type="checkbox" style="text-align:left !important;" name="newRegistrants" value="newRegistrants" /> <button id="btnChoiceOfRegistrants" class="btn-primary">Select Choice of Users</button></div>
                        <br />

                        <hr style="width:65% !important; text-align:center;" />
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.StudentId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("StudentId", ViewBag.StudentList as List<SelectListItem>, new { htmlAttributes = new { @class = "form-control", @id = "StudentId" } })
                            @Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger" })
                        </div>
                    </div>                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.CourseId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("CourseId", ViewBag.CourseList as List<SelectListItem>, new { htmlAttributes = new { @class = "form-control", @id = "StudentId" } })
                            @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.StudentFirsName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StudentFirsName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StudentFirsName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StudentLastName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StudentLastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StudentLastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", @id = "EmailAddress" } })
                            @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" name="Select" value="Select" class="btn btn-default" />
                            <input type="submit" name="Create" value="Create" class="btn btn-default" />
                            <input type="submit" name="Update" value="Update" class="btn btn-default" />
                            <input type="submit" name="Delete" value="Delete" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <script type="text/javascript">
    $(document).ready(function(){
        $('button#btnChoiceOfRegistrants').click(function (e) {
            $('input[type="submit"]').attr('disabled', 'disabled');
            $('input[name="Create"]').removeAttr('disabled');
            var selectStudentList = $('select#StudentId');

            selectStudentList.children('option').remove();
            var newRegistrants = $('input[name="newRegistrants"]').val();
            var url = "@Url.Content("~/Administration/GetNewRegistrants")";

            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                success: function (d) {
                    let data = d.Registrants;
                    for (let i = 0; i < data.length; i++) {
                        selectStudentList.append('<option value="' + 0 + '">' + data[i] + '</option>')
                    }
                    selectStudentList.change(function () {
                        let selectedEmail = $(this).find("option:selected").html();
                        $('input#EmailAddress').val(selectedEmail);
                    });
                },
                error: function () {
                    alert('failed to get user list');
                }
            });

            e.preventDefault();
        });
    });
    </script>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>