@model TeacherAssistant.Models.ITeacherViewModel

@{
    ViewBag.Title = "Manage Teacher";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h2>Manage Teacher</h2>

<form method="post" id="ManageTeacherForm" action="">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Teacher</h4>

        <div style="background-color: #DADADA;">
            <div style="padding:5px;">
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.TeacherId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("TeacherId", (List<SelectListItem>)ViewBag.TeacherList, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TeacherId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.FirsName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FirsName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirsName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" name="Select" value="Select" class="btn btn-default" />
                        <input type="submit" name="Create" value="Create" class="btn btn-default" />
                        <input type="submit" name="Update" value="Update" class="btn btn-default" />
                        <input type="submit" name="Delete" value="Delete" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
 </form>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    <script type="text/javascript">
    $(document).ready(function () {
        var $form = $('form#ManageTeacherForm');
        $('input[type="submit"]').click(function (e) {
            switch ($(this).attr('name')) {
                case 'Select':
                    $form.attr('action', '@Url.Action("ManageTeacherSelectOrDelete", "Administration")');
                    break;
                case 'Update':
                    $form.attr('action', '@Url.Action("ManageTeacherUpdate", "Administration")');
                    break;
                case 'Create':
                    $form.attr('action', '@Url.Action("ManageTeacherCreate", "Administration")');
                    break;
                case 'Delete':
                    $form.attr('action', '@Url.Action("ManageTeacherSelectOrDelete", "Administration")');
                    break;
            }
            return;
        });
    });
    </script>
