@model TeacherAssistant.Models.IStudentResourcesViewModel

@{
    ViewBag.Title = "ManageResources";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h2>ManageResources</h2>

    <form method="post" action="" id="ManageResourcesForm" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <div class="form-horizontal" style="background-color: #DADADA;">
            <h4>Student Reading Resources</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.StudentResourceId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("StudentResourceId", ViewBag.StudentResourcesList as List<SelectListItem>, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StudentResourceName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("StudentResourceName", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StudentResourceName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SubjectId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SubjectId", ViewBag.SubjectList as List<SelectListItem>, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SubjectId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RoleName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("RoleName", ViewBag.RoleList as List<SelectListItem>, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessage("RoleName", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CourseId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CourseId", ViewBag.CourseList as List<SelectListItem>, new { htmlAttributes = new { @class = "form-control", @id = "StudentId" } })
                    @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MediaContent, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="MediaContent" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FilePath, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("FilePath", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" name="Select" value="Select" class="btn btn-default" />
                    <input type="submit" name="Create" value="Create" class="btn btn-default" />
                    <input type="submit" name="Update" value="Update" class="btn btn-default" />
                    <input type="submit" name="Delete" value="Delete" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
    $(document).ready(function () {
        var $form = $('form#ManageResourcesForm');
        $('input[type="submit"]').click(function (e) {
            switch ($(this).attr('name')) {
                case 'Select':
                    $form.attr('action', '@Url.Action("ManageStudentResourcesSelectOrDelete", "Administration")');
                    break;
                case 'Update':
                    $form.attr('action', '@Url.Action("ManageStudentResourcesUpdate", "Administration")');
                    break;
                case 'Create':
                    $form.attr('action', '@Url.Action("ManageStudentResourcesCreate", "Administration")');
                    break;
                case 'Delete':
                    $form.attr('action', '@Url.Action("ManageStudentResourcesSelectOrDelete", "Administration")');
                    break;
            }
            return;
        });
    });
    </script>