
@{
    ViewBag.Title = "Reporting And Performance";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h2>Reporting And Performance</h2>


<div class="form-horizontal">
    <h4>Student Reporting And Performance</h4>
    <div class="form-group">
        @Html.Label("Subject", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("SubjectId", ViewBag.SubjectList as List<SelectListItem>, new { htmlAttributes = new { @class = "form-control", @id = "SubjectId" } })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Year Start", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("YearStart", "", new { htmlAttributes = new { @class = "form-control", @id = "YearStart", @type = "number" } })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Year End", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("YearEnd","", new { htmlAttributes = new { @class = "form-control", @id = "YearEnd", @type="number" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" id="select" value="Select" class="btn btn-default" />
        </div>
    </div>
    <div class="container-fluid">
        <canvas id="percentiles"></canvas>
        <canvas id="submissions"></canvas>
        <canvas id="averages"></canvas>
        <canvas id="medians"></canvas>
    </div>
</div>

<script type="text/javascript">
    var submissions = { YearDue: [], NumberOfStudents: [] };
    var medians = { YearDue: [], MedianGrade: [] };
    var averages = { YearDue: [], AverageGrade: [] };
    var percentiles = { YearDue: [], Percentile: [] };

    function PrintGraphPercentiles(percentiles) {
        if (percentiles.Percentile.length > 0) {
            //print submissions
            var percentilesBarChart = new Chart(document.getElementById("percentiles"), {
                type: 'bar',
                data: {
                    labels: percentiles.YearDue,
                    datasets: [
                        {
                            label: "Year Of Assignments",
                            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                            data: percentiles.Percentile
                        }
                    ]
                },
                options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: 'Percentile Of Performances Over The years'
                    }
                }
            });
        }
    }
    function PrintGraphsSubmissions(submissions) {
        if (submissions.NumberOfStudents.length > 0) {
            //print submissions
            var submissionsBarChart = new Chart(document.getElementById("submissions"), {
                type: 'bar',
                data: {
                    labels: submissions.YearDue,
                    datasets: [
                        {
                            label: "Year Of Assignments",
                            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                            data: submissions.NumberOfStudents
                        }
                    ]
                },
                options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: 'Not On Time Submissions Over The years'
                    }
                }
            });
        }
    }
    function PrintGraphsAverages(averages) {
        if (averages.AverageGrade.length > 0) {
            //print averages
            var averageGradeBarChart = new Chart(document.getElementById("averages"), {
                type: 'bar',
                data: {
                    labels: averages.YearDue,
                    datasets: [
                        {
                            label: "Year Of Assignments",
                            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                            data: averages.AverageGrade
                        }
                    ]
                },
                options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: 'Average Grades Over The years'
                    }
                }
            });
        }
    }
    function PrintGraphsMedians(medians) {
        if (medians.MedianGrade.length > 0) {
            //print medians            
            var medianGradeBarChart = new Chart(document.getElementById("medians"), {
            type: 'bar',
                data: {
                    labels: medians.YearDue,
                    datasets: [
                        {
                            label: "Year Of Assignments",
                            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                            data: medians.MedianGrade
                        }
                    ]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                        text: 'Median Grades Over The years'
                }
            }
        });
        }
    }
    function CallCharting() {
        var baseSubmissionsUrl = "@Url.Content("~/AdhocPatchAndReporting/ReportingGroupSubmission?")";
        var baseAveragesUrl = "@Url.Content("~/AdhocPatchAndReporting/AverageGradeBySubjectRoleAndYearForParticualarSubjectBtwnYears?")";
        var baseMedianUrl = "@Url.Content("~/AdhocPatchAndReporting/MedianGradeAttainedGradeBySubjectRoleAndYearForParticualarSubjectBtwnYears?")";
        var percentilesUrl =  "@Url.Content("~/AdhocPatchAndReporting/PercentileGradeBySubjectRoleAndYear?")";
        var subject = $('#SubjectId').val();
        var yearStart = $('#YearStart').val();
        var yearEnd = $('#YearEnd').val();

        if (subject > 0) {
            baseSubmissionsUrl += "subjectId=" + subject;
            baseAveragesUrl += "subjectId=" + subject;
            baseMedianUrl += "subjectId=" + subject;
            percentilesUrl += "subjectId=" + subject;

            if (yearStart != "") {

                baseSubmissionsUrl += "&yearStart=" + yearStart;
                baseAveragesUrl += "&yearStart=" + yearStart;
                baseMedianUrl += "&yearStart=" + yearStart;
                percentilesUrl + "&yearStart=" + yearStart;
                if (yearEnd != "") {

                    baseSubmissionsUrl += "&yearEnd=" + yearEnd;
                    baseAveragesUrl += "&yearEnd=" + yearEnd;
                    baseMedianUrl += "&yearEnd=" + yearEnd;
                    percentilesUrl + "&yearEnd=" + yearEnd;
                }
                else {

                    baseSubmissionsUrl += "&yearEnd=" + yearStart;
                    baseAveragesUrl += "&yearEnd=" + yearStart;
                    baseMedianUrl += "&yearEnd=" + yearStart;
                    percentilesUrl + "&yearEnd=" + yearStart;
                }
            }
            else {
               
                baseSubmissionsUrl += "subjectId=" + subject;
                baseAveragesUrl += "subjectId=" + subject;
                baseMedianUrl += "subjectId=" + subject;
                percentilesUrl += "subjectId=" + subject;

                var yearStart = '@DateTime.Now.Year';
                var yearEnd = '@DateTime.Now.Year';
                baseSubmissionsUrl += "&yearStart=" + yearStart;
                baseAveragesUrl += "&yearStart=" + yearStart;
                baseMedianUrl += "&yearStart=" + yearStart;
                percentilesUrl + "&yearStart=" + yearStart;

                baseSubmissionsUrl += "&yearEnd=" + yearEnd;
                baseAveragesUrl += "&yearEnd=" + yearEnd;
                baseMedianUrl += "&yearEnd=" + yearEnd;
                percentilesUrl + "&yearEnd=" + yearEnd;
            }
        }
        else {
            baseSubmissionsUrl = "@Url.Content("~/AdhocPatchAndReporting/ReportingGroupSubmission")";
            baseAveragesUrl = "@Url.Content("~/AdhocPatchAndReporting/AverageGradeBySubjectRoleAndYearForParticualarSubjectBtwnYears")";
            baseMedianUrl = "@Url.Content("~/AdhocPatchAndReporting/MedianGradeAttainedGradeBySubjectRoleAndYearForParticualarSubjectBtwnYears")";
            percentilesUrl =  "@Url.Content("~/AdhocPatchAndReporting/PercentileGradeBySubjectRoleAndYear")";
        }
        $.ajax({
            url: percentilesUrl,
            method: "GET",
            success: function (data) {
                for (let i = 0; i < data.length; i++) {
                    percentiles.Percentile.push(data[i].Percentile);
                    percentiles.YearDue.push(data[i].YearDue);
                }

                PrintGraphPercentiles(percentiles);
            },
            error: function (xHttpReq, error, msg) {

            }
        });
        $.ajax({
            url: baseSubmissionsUrl,
            method: "GET",
            success: function (data) {
                for (let i = 0; i < data.length; i++) {
                    submissions.NumberOfStudents.push(data[i].NumberOfStudents);
                    submissions.YearDue.push(data[i].YearDue);
                }
                PrintGraphsSubmissions(submissions);
            },
            error: function (xHttpReq, error, msg) {

            }
        });
        $.ajax({
            url: baseAveragesUrl,
            method: "GET",
            success: function (data) {
                for (let i = 0; i < data.length; i++) {
                    averages.AverageGrade.push(data[i].AverageGrade);
                    averages.YearDue.push(data[i].YearDue);
                }
                PrintGraphsAverages(averages);
            },
            error: function (xHttpReq, error, msg) {

            }
        });
        $.ajax({
            url: baseMedianUrl,
            method: "GET",
            success: function (data) {
                for (let i = 0; i < data.length; i++) {
                    medians.MedianGrade.push(data[i].MedianGrade);
                    medians.YearDue.push(data[i].YearDue);
                }
                PrintGraphsMedians(medians);
            },
            error: function (xHttpReq, error,msg) {

            }
        });

    }
    $(document).ready(function () {

        $('#subjectId').change(function () {
            CallCharting();
        });        
        $('#select').click(function () {
                CallCharting();
        });
    });
</script>
